.DS_Store
node_modules
*.local
.vite-inspect
.remote-assets
components.d.ts
.vite
dist
dist-nanopromela-check/
old_latex_file
Files.zip
tmp/
tmp-*
slidev-preview*.log

# TeX artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.xdv
